<section class="home-container">
  <div class="background-home">
    <div class="info-movie">
      <div class="container center">
        <div class="logo-movie">
          <img src="assets/img/logo_start.png" alt="logo do star wars " />
        </div>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has bee.
        </p>
        <div class="buttons-container">
          <button type="button" class="btn button--style watch">
            <i class="fa fa-angle-right"></i> Assistir
          </button>
          <button type="button" class="btn button--style info">
            <i class="fa fa-info-circle"></i> Mais informaçoes
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="background-color: black">
  <app-list-movie></app-list-movie>
</section>
